/* Navbar */

.nav-item li{
  list-style-type: none;
  Width: 252px;
  Height: Hug (56px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* padding: 10px 10px 10px 5px; */
  gap: 12px;
  border: 0px solid #1E0D03;
  box-sizing: border-box;
}

.container-fluid li{
  list-style-type: none;
  
}

.btn i{
  Font-size: 24px;
  Line-height: 24px;
  Line-height: 100%;
  Align: Left;
  Vertical-align: Top;
  
}

.btn span{
  Font-family: Montserrat, sans-serif, Arial;
  font-weight: 100;
  Font-style: Medium;
  Font-size: 18px;
  Line-height: 26px;
  Line-height: 118%;
  Vertical-align: Top;
  /* padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 25px; */
  padding: 15px 16px 18px 23px;
  
}

.navbar-nav ul{
  padding-left: unset;
}